# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env/
.venv/
env/
ENV/
build/
dist/
*.egg-info/
.eggs/
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.ipynb_checkpoints
.python-version
.mypy_cache/
.dmypy.json
dmypy.json
.idea/
*.iml
*.env
playwright-report/
test-results/
*.log
.DS_Store
Thumbs.db
.venv/Lib
